{% extends 'base.html.twig' %}

{% block title %}Mon compte - Zoo Arcadia{% endblock %}

{% block body %}
    <div class="mt-5 p-5">
        <h1>Mon compte</h1>

        <hr>
        <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
        <hr>

    </div>

{% endblock %}