{% extends 'base.html.twig' %}

{% block body%}
    <h2 class="mt-3"> Nos Services </h2>

    <div class="text-center w-75 mx-auto" >
        {% for service in services %}

            <div class="service featurette-divider mt-5">
                <h5 class="text-center">{{service.nom  }}</h5>
                <img src="/uploads/images/services/{{ service.illustration }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-auto" serveAspectRatio="xMidYMid slice" >
                <p class="text-center"> {{ service.descrition }}</p>
            </div>
        {% endfor %}
    </div>



{% endblock %}