<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Compte créé</title>
</head>
<body>
<p>Bonjour {{ user.prenom }} {{ user.nom }},</p>

<p>Votre compte a été créé avec les informations suivantes :</p>

<ul>
    <li>Email : {{ user.email }}</li>
    <li>Veuillez vous rapprocher de votre administateur pour connaitre votre mot de passe</li>
</ul>

<p>Veuillez vous connecter et changer votre mot de passe dès que possible.</p>

<p>Cordialement,</p>
<p>L'équipe d'administration</p>
</body>
</html>
